{% extends 'licenca/base.html' %}

{% block content %}
{% load material_form %}

{% if form.errors %}
<p>Seu usuário e senha não conferem. Por favor, tente novamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sua conta não possui acesso a esta página.</p>
    {% else %}
    <p>Por favor, faça login para visualizar esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{% form form=form %}
  {% part form.username prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
  {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
{% endform %}

<button type="submit" name="Acessar" class="btn">Acessar</button>
</form>

{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}
