{% extends 'licenca/base.html' %}

{% block content %}
{% load material_form %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{% form form=form %}
  {% part form.username prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
  {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
{% endform %}

<button type="submit" name="Acessar" class="btn">Acessar</button>
</form>

{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}
