<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title>SGL</title>
</head>
<body>
  <div class="content container">
          <div class="page-header">
            <h1><a href="/licenca/">Sistema de Gerenciamento de Licenca</a></h1>
          </div>
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
</body>
</html>
