{% extends 'licenca/base.html' %}

{% block content %}
  <!-- <form action="/licenca/recusar/{{ object.pk }}/" method="post">
  {% csrf_token %}
  <p>
  Tem certeza que deseja excluir o veículo "{{ object }}" ?
  </p>
  <input type="submit" value="Confirmar" />
  <a href="/licenca/"> Cancel </a>
  </form> -->
  {% load material_form %}
  <form form action="/licenca/excluir/{{ object.pk }}/" method="post" >
    {% csrf_token %}
    <p>
    Tem certeza que deseja excluir a requisicao "{{ object }}" ?
    </p>
    <button type="submit" name="apagar" class="btn">Apagar</button>
    <a href="/licenca/{{ object.pk }}/" class="waves-effect waves-light btn red">Cancelar</button></a>
  </form>
{% endblock content %}
