{% extends 'licenca/base.html' %}

{% block content %}
  {% load bootstrap3 %}
  {% load bootstrap3 %}
  <form method="post" class="requerimento-form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='OK' %}
    <a href="/licenca/excluir/{{ object.pk }}/"><button type="button" class="btn btn-success">Apagar</button></a>
    <a href="/licenca/"><button type="button" class="btn btn-success">Voltar</button></a>
    {% endbuttons %}
  </form>
  <!-- <form action="/licenca/{{ object.pk }}/" method="post" class="requerimento-form">
    {% csrf_token %}

    <form method="post" class="requerimento-form">
      {% csrf_token %}

    <input type="text" value="{{ object.dataRequisicao}}" readonly="">
    {{ form }}
    <a href="/licenca/excluir/{{ object.pk }}/"><button type="button" class="btn btn-success">Apagar</button></a>
    <a href="/licenca/"><button type="button" class="btn btn-success">Voltar</button></a>

  </form> -->

{% endblock content %}
