{% extends 'licenca/base.html' %}

{% block content %}
  {% load bootstrap3 %}
  <form action="/licenca/{{ object.pk }}/" method="post" class="requerimento-form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='OK' %}
    <a href="/licenca/excluir/{{ object.pk }}/"><button type="button" class="btn btn-success">Apagar</button></a>
    <a href="/licenca/"><button type="button" class="btn btn-success">Voltar</button></a>
    {% endbuttons %}
  </form>

{% endblock content %}
