{% extends 'licenca/base.html' %}
{% load material_form %}
{% block content %}

<!-- Botão ADD no canto inferior direito -->
<div class="fixed-action-btn">
    <a href="/licenca/novo/" class="btn-floating btn-large blue">
      <i class="large material-icons">add</i>
    </a>
</div>
<!--Lista de licencas  -->
<ul class="collection">
  {% for licenca in object_list %}
  <li class="collection-item avatar">
    <i class="material-icons circle">date_range</i>
    <span class="title">{{ licenca }}</span>
    <p>{{ licenca.dataLicenca }}</p>
    <a href="/licenca/detalhar/{{licenca.pk}}" class="secondary-content"><i class="material-icons">loupe</i></a>
    {% if perms.licenca.change_requerimentolicenca %}
      <a href="/licenca/{{licenca.pk}}" class="secondary-content"><i class="material-icons">edit</i></a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock content %}
